<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Employees</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees | async">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.dob | date:'MM-dd-yyyy'}}</td>
                    <td>{{employee.department}}</td>
                    <td><button (click)="deleteEmployee(employee.empId)">Delete</button></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>