<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="name">Gender</label>
            <div class="radio">
                <label><input type="radio" name="optradio" value="Male" [(ngModel)]="employee.gender" >Male</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" value="Female"[(ngModel)]="employee.gender">Female</label>
              </div>           
        </div>
        <div class="form-group">
            <label for="name">DOB</label>
            <input type="date" class="form-control" id="DOB" required [(ngModel)]="employee.DOB" name="DOB">
        </div>
        <div class="form-group">
            <label for="name">Department</label>
            <input type="text" class="form-control" id="department" required [(ngModel)]="employee.department" name="department">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>